<footer class="sec">
  <section class="w_a f_wrap">
    <div class="etc_wrap">
      <ul>
        <li>
          <a class="youtube" href="">
            <p>유튜브 자료실</p>
          </a>
        </li>
        <li>
          <a class="gallery" href="">
            <p>갤러리</p>
          </a>
        </li>
        <li>
          <a class="event" href="">
            <p>이벤트</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="w1280 f_cm">
      <ul>
        <li class="cm_food"><a href=""></a></li>
        <li class="cm_store"><a href=""></a></li>
      </ul>
    </div>
      <!--  -->
    <div class="w1280 supporter">
      <ul>
        <li><a class="jung" href=""></a></li>
        <li><a class="dtms" href=""></a></li>
        <li><a class="daegu" href=""></a></li>
        <li><a class="mss" href=""></a></li>
        <li><a class="semas" href=""></a></li>
      </ul>
    </div>
      <!--  -->
    <div class="w1280 f_con_wrap">
      <div class="f_logo">
        <a href=""><img src="img/h_logo.png" alt="서문야시장 로고"></a>
      </div>
      <div class="f_txt">
        <p>대구 남구 대명로 215 대구광역시상인회관4층, 재단법인 대구전통시장진흥재단ㆍ상권육성팀 Admin </p>
        <p>전화 번호 : 010-8233-3513 상담시간 : 오전 09시 ~ 오후 06시</p>
        <a href="">이용약관</a> <span>|</span> <a href="">개인정보처리방침</a>
        <p>Seomun Night Market Ⓒ2016 Daegu traditional Market Support Agency. All Rights Reserved</p>
      </div>
      <div class="sns">
        <ul>
          <li><a class="fb" href=""></a></li>
          <li><a class="in" href=""></a></li>
          <li><a class="yt" href=""></a></li>
          <li><a class="fb" href=""></a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>