<header class="scroll_01">
  <div class="w1280 nav_wrap">
    <img src="img/h_logo.png" alt="서문야시장 로고">
    <div class="menu">
        <ul>
          <li><a href="">서문소개</a></li>
          <li><a href="">먹거리</a></li>
          <li><a href="">살거리</a></li>
          <li><a href="">볼거리</a></li>
          <li><a href="/thum_list">커뮤니티</a></li>
      </ul>
    </div>
    <div class="nav">
        <ul>
          <li><a href="/login">로그인</a></li>
          <li><a href="/join01">회원가입</a></li>
          <li><a href="">고객센터</a></li>
      </ul>
    </div>
  </div>
</header>