<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/common.css"
  >
  <!-- news_slide -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
  
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- 로그인,회원가입 -->
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/join01.css">
  <link rel="stylesheet" href="css/join02.css">
  <!-- 공지사항 -->
  <link rel="stylesheet" href="css/memolist.css">
  <link rel="stylesheet" href="css/newmemo.css">
  <link rel="stylesheet" href="css/upmemo.css">
  <!-- 썸네일(갤러리) -->
  <link rel="stylesheet" href="css/thum_list.css">
  <link rel="stylesheet" href="css/thum_write.css">
  <!-- 풋터 -->
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/sub_footer.css">
  <title>seomoon</title>
</head>
<body>
  <div id="header">
    <%- include('header') %>
  </div>
  <main>
    <%- body %>
  </main>
  <div id="footer">
    <%- include('footer') %>
  </div>
</body>
<!-- program -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- sec_news -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<!-- 그냥 -->
<script src="js/header.js"></script>
<script src="js/main.js"></script>
<script src="js/program.js"></script>
<script src="js/sec_news.js"></script>
<script src="js/login.js"></script>
<script src="js/join01.js"></script>
<script src="js/join02.js"></script>
<!-- <script src="js/thum_write.js"></script> -->
</html>