<!-- intro -->
<section class="w1280 intro sec">
  <div class="intro_wrap">
    <img src="img/intro1_logo.png" alt="서문야시장 인트로로고">
    <P><span class="bold">“ 푸른달이 뜨는 밤, 푸른 도깨비 축제의 날.”</span><br>같이 즐겨요 서문 야시장.</P>
  </div>
</section>

<!-- sub_intro -->
<section class="w1280 sub_intro sec">
  <div class="sub_intro_wrap">
    <p class="intro_left">
      연중무휴로 펼쳐지는 Fantastic Night Party!<br>
      야시장을 통한 성공적인 창업상단 육성!<br>
      서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어<br>
      어디에서도 찾을 수 없는 경험을 제공합니다.<br>
      글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식<br>
      우리의 추억과 감성을 자극하는 다양한 볼거리, 살거리가 즐비합니다.<br>
      대구로 방문하신다면<br>
      반드시 찾아가봐야 할 1순위는 단연 ‘서문시장 야시장’입니다.
    </p>
    <br>
    <p class="intro_right">
      전 세계인과 함께하는, 대한민국 대표 야시장 ‘서문시장 야시장’<br>
      여러분과 함께 만들어가는 夜한 테마파크!<br>
      서문시장 야시장은 2016년 6월에 개장한,<br>
      총거리 350M에 달하는 대형 야시장입니다.<br>
      우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여<br>
      총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며<br>
      매일 저녁, 시민과 관광객에게 즐거움을 선사하는<br>
      복합문화공간입니다. 특히, 먹거리 일색인 타 야시장과는 달리<br>
      먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는<br>
      마법같은 관광지이기도 합니다
    </p>
  </div>
</section>

<!-- program -->
<section class="program sec">
  <ul>
    <li><img class="left_sim" src="img/logo_sim.png"></li>
    <li><h3>서문 야시장 즐길거리</h3></li>
    <li><img class="right_sim" src="img/logo_sim.png"></li>
  </ul>
  <h4>서문 야시장의 새로운 소식들을 확인해 보세요!</h4>
  <h5>매일 업데이트되는 서문 야시장의 소식들을 한눈에 볼 수 소식들을 한눈에 볼 수 있어요!</h5>
    <!-- program_slide -->
  <div class="slide slide_wrap">
    <div class="slide_item item1">
      <div class="program_txt">
        <p class="sub_tit">먹거리! 푸드마켓!</p>
        <p class="main_tit">야시장 속 다양한 음식들!</p>
        <p class="ex">서문 야시장은 총거리 350M에 달하는 대형 야시장으로<br>
          한국 전통음식뿐만 아니라 다야한 나라의 음시과 퓨전요리를<br>
          즐길수 있는 </p>
        <p class="sub_ex">urvived not only <br>
          urvived not only fiveurvived </p>
        <button>자세히보기</button>
      </div>
    </div>
    <div class="slide_item item2">
      <div class="program_txt">
        <p class="sub_tit">the 1500s, when an unkn</p>
        <p class="main_tit">own printer took a</p>
        <p class="ex">urvived not only fiveurvived not only five <br>
          urvived not only fiveurvived not only five <br>
          urvived not only fiveurvived not only five</p>
        <p class="sub_ex">urvived not only <br>
          urvived not only fiveurvived </p>
        <button>자세히보기</button>
      </div>
    </div>
    <div class="slide_item item3">
      <div class="program_txt">
        <p class="sub_tit">the 1500s, when an unkn</p>
        <p class="main_tit">own printer took a</p>
        <p class="ex">urvived not only fiveurvived not only five <br>
          urvived not only fiveurvived not only five <br>
          urvived not only fiveurvived not only five</p>
        <p class="sub_ex">urvived not only <br>
          urvived not only fiveurvived </p>
        <button>자세히보기</button>
      </div>
    </div>
    <div class="slide_prev_button slide_button">
      <i class="fi fi-sr-Angle-circle-left"></i>
    </div>
    <div class="slide_next_button slide_button">
      <i class="fi fi-sr-Angle-circle-right"></i>
    </div>
    <ul class="slide_pagination"></ul>
  </div>
</section>

<!-- news -->
<section class="w1280 sec_news sec">
  <ul>
    <li><img class="left_sim" src="img/logo_sim.png"></li>
    <li><h3>서문 거리예술 공연</h3></li>
    <li><img class="right_sim" src="img/logo_sim.png"></li>
  </ul>
  <h4>서문 야시장의 새로운 소식들을 확인해 보세요!</h4>
  <h5>매일 업데이트되는 서문 야시장의 소식들을 한눈에 볼 수 소식들을 한눈에 볼 수 있어요!</h5>
  <!-- news_txt -->
  <article>
    <ul>
      <li>
        <p class="conset_title">the 1500s, when an unkn</p>
        <p class="conset_cont">
          urvived not only fiveurvived not only <br>
          urvived not only fiveurvived not only five <br>
          urvived not only fiveurvived .
        </p>
        <p class="conset_date">일시 : </p>
        <p class="conset_loca">장소 : </p>
      </li>
    </ul>
  </article>
  <!-- news_slide -->
  <article class="news_wrap">
    <div class="swiper news_slide">
      <div class="swiper-wrapper">
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
      </div>
    </div>
  </article>
</section>

<!-- sec5 -->
<section class="w1280 sec_notice sec">
  <ul>
    <li><img class="left_sim" src="img/logo_sim.png"></li>
    <li><h3>공지사항</h3></li>
    <li><img class="right_sim" src="img/logo_sim.png"></li>
  </ul>
  <h4>서문 야시장의 새로운 소식들을 확인해 보세요!</h4>
  <h5>매일 업데이트되는 서문 야시장의 소식들을 한눈에 볼 수 소식들을 한눈에 볼 수 있어요!</h5>
  <!-- <div class="btn_more">
    <input type='button' class='more' name='btn' value='+더보기'>
  </div> -->
  <table class="board_table">
    <tbody class="notice_wrap">
      <tr>
        <td>2022.10<br><span class="bold">31</span></td>
        <td>관리자</td>
        <td>
          <a href="#">[공지]서문야시장 거리예술제 일정 변경안내.</a>
          <p>재난 안전 본부로부터 호우주의보 발령으로 안전을위해 거리예술제의 일정이 변경 되었습니다.</p>
        </td>
        <td>3,241</td>
        <td><a href="#" class="more_arrow"></a></td>
      </tr>
    </tbody>
    <div>
    </div>
  </table>
</section>