<section class="w1280 notice_view">
  <ul>
    <li><img class="left_sim" src="img/logo_sim.png"></li>
    <li><h3>공지사항</h3></li>
    <li><img class="right_sim" src="img/logo_sim.png"></li>
  </ul>
  <h4>서문 야시장의 새로운 소식들을 확인해요!</h4>
  <h5>야시장속 소식을 자세히 꼼꼼히 확인하고 체크해요~! </h5>
    <!-- notice_write area -->
    <div class="write_wrap">
      <ul class="top_write">
        <li><p class="th">작성일</p></li>
        <li><p id="date"></p></li>
        <li><p class="th">작성자</p></li>
        <li><p id="user_name">푸른 도깨비대장</p></li>
      </ul>
      <ul class="midle_write">
        <li><p class="th">공지부문</p></li>
        <li>
          <select id="teg" onchange="changeFn()">
            <option value="">--.--</option>
            <option value="#공지">#공지</option>
            <option value="#푸드마켓">#푸드마켓</option>
            <option value="#프리마켓">#프리마켓</option>
            <option value="#거리공연">#거리공연</option>
            <option value="#투어미션">#투어미션</option>
            <option value="#이벤트">#이벤트</option>
            <option value="#코로나19">#코로나19</option>
          </select>
          <p id="txt"></p>
        </li>
        <li><p class="th">제목</p></li>
        <li><input type="text" id="title" name="title"></li>
      </ul>
      <ul class="bottom_write">
        <li><p class="th">내용</p></li>
        <li><textarea name="content" id="content" rows="10" cols="70"></textarea></li>
      </ul>
    </div>
    <div class="write_btn_wrap">
      <button type="button" class="btn btn_save" onclick="window.open('/notice_fix')">수정하기</button>
      <button type="button" class="btn btn_save">삭제하기</button>
      <button type="button" class="btn btn_cancel" onclick="window.open('/notice_list')">돌아가기</button>
    </div>
  <!-- <article>
    <div class="container" role="main">
      <h2>board Content</h2>
      <div class="bg-white rounded shadow-sm">
        <div class="board_title"><c:out value="${boardContent.title}"/></div>
        <div class="board_info_box">
          <span class="board_author"><c:out value="${boardContent.reg_id}"/>,</span><span class="board_date"><c:out value="${boardContent.reg_dt}"/></span>
        </div>
        <div class="board_content">${boardContent.content}</div>
        <div class="board_tag">TAG : <c:out value="${boardContent.tag}"/></div>
      </div>
      <div style="margin-top : 20px">
        <button type="button" class="btn btn-sm btn-primary" id="btnUpdate">수정</button>
        <button type="button" class="btn btn-sm btn-primary" id="btnDelete">삭제</button>
        <button type="button" class="btn btn-sm btn-primary" id="btnList">목록</button>
      </div>
    </div>
  </article> -->
</section>