<section class="w1280 sec_notice">
  <ul>
    <li><img class="left_sim" src="img/logo_sim.png"></li>
    <li><h3>공지사항</h3></li>
    <li><img class="right_sim" src="img/logo_sim.png"></li>
  </ul>
  <h4>서문 야시장의 새로운 소식들을 확인해 보세요!</h4>
  <h5>매일 업데이트되는 서문 야시장의 소식들을 한눈에 볼 수 소식들을 한눈에 볼 수 있어요!</h5>
  <!-- board list area -->
  <div id="board-list">
    <button type="button" class="btn write_btn" onclick="location.href='notice_write';">+ 작성하기</button>
    <table class="board-table">
      <thead>
        <tr>
          <th scope="col" class="th-num">작성일</th>
          <th scope="col" class="th-title">작성자</th>
          <th scope="col" class="th-title">제목</th>
          <th scope="col" class="th-num">조회수</th>
          <th scope="col" class="th-title"></th>
        </tr>
      </thead>
      <tbody class="notice_txt_center notice_wrap">
        <tr>
          <td>2022.10<br><span class="bold">31</span></td>
          <td>관리자</td>
          <td>
            <a href="#">#공지 서문야시장 거리예술제 일정 변경안내.</a>
            <p>재난 안전 본부로부터 호우주의보 발령으로 안전을위해 거리예술제의 일정이 변경 되었습니다.</p>
          </td>
          <td>3,241</td>
          <td><a href="#" class="more_arrow"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- board seach area -->
  <form class="search_form" action="">
    <div class="search-wrap">
      <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
      <button type="submit" class="btn search_btn">검색</button>
    </div>
  </form>
</section>