<section class="w1280 notice_write">
  <ul>
    <li><img class="left_sim" src="img/logo_sim.png"></li>
    <li><h3>갤러리 작성</h3></li>
    <li><img class="right_sim" src="img/logo_sim.png"></li>
  </ul>
  <h4>서문 야시장의 새로운 소식들을 모두와 공유해 보세요!</h4>
  <h5>야시장속 즐거운 이야기와 다양한 소식을 업로드해서 모두에게 알려요~!</h5>
  <!-- notice_write area -->
  <div class="write_wrap">
    <ul class="top_write">
      <li><p class="th">작성일</p></li>
      <li><p id="date"></p></li>
      <li><p class="th">작성자</p></li>
      <li><p id="user_name">푸른 도깨비대장</p></li>
    </ul>
    <ul class="midle_write">
      <li><p class="th">제목</p></li>
      <li><input type="text" id="title" name="title"></li>
    </ul> 
    <ul class="midle_write">
      <li><p class="th">부제목</p></li>
      <li><input type="text" id="sub_title" name="sub_title"></li>
    </ul>
    <ul class="bottom_write">
      <li><p class="th">내용</p></li>
      <li><textarea name="content" id="content" rows="10" cols="70"></textarea></li>
    </ul>
    <ul class="bottom_write">
      <li><p class="th">파일</p></li>
      <li><input type="file" id="upload_file" name="upload_file" accept="image/png, image/jpeg"></li>
    </ul>
  </div>
  <div class="write_btn_wrap">
    <button type="button" class="btn btn_save">저장하기</button>
    <button type="button" class="btn btn_cancel">작성취소</button>
  </div>
</section>