<section class="w1280 thum_list">
  <ul>
    <li><img class="left_sim" src="img/logo_sim.png"></li>
    <li><h3>야시장 갤러리 콘테스트</h3></li>
    <li><img class="right_sim" src="img/logo_sim.png"></li>
  </ul>
  <h4>서문 야시장의 매력을 사진으로 담아 보아요!</h4>
  <h5>
    정성스럽게 찍은 추억이 담긴 사진을 공유해서 자랑도하고, 우승도 해서 다양한 사은품도 받자!
  </h5>
  <form>
    <button type="button" class="btn write_btn" onclick="location.href='notice_write';">+ 작성하기</button>
    <div class="photo_wrap">
      <ul class="ph_wr_ul">
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
      </ul>
      <ul class="ph_wr_ul">
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
        <li class="ph_wr_li">
          <ul>
            <li><img src="img/intro1_logo.png" alt=""></li>
            <li class="photo_date">2022-12-24</li>
            <li class="photo_title">이브날의 푸른깨비</li>
            <li class="photo_sub_tit">푸른깨비와의 추억을 담은...</li>
            <input type="submit" value="구경하기">
          </ul>
        </li>
      </ul>
    </div>
  </form>
  </div>
  <!-- board seach area -->
  <form class="search_form" action="">
    <div class="search-wrap">
      <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
      <button type="submit" class="btn search_btn">검색</button>
    </div>
  </form>
</section>