.notice_view{
  padding-top: 95px;
}
.notice_view>ul{
  display: flex;
  justify-content: center;
}

/*  */
.write_wrap{
  max-width: 846px;
  margin: 0 auto;
  border-top: 3px solid;
  box-sizing: border-box;
}
/* .write_wrap>ul{
  width: 100%;
  display: flex;
  padding: 10px 0;
} */
.top_write{
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid;
  box-sizing: border-box;
}
select{
  float: left;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 0;
  padding: 5px 0;
  outline: 0;
}
#user_name{
  text-align: left;
}
.top_write>li{
  flex: 1;
}
.midle_write{
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid;
  box-sizing: border-box;
}
.midle_write>li:nth-child(1){
  width: 25%;
}
.midle_write>li:nth-child(2){
  width: 25%;
}
.midle_write>li:nth-child(3){
  width: 10%;
}
.midle_write>li:nth-child(4){
  width: 40%;
}
.midle_write>li>input{
  width: 80%;
  padding: 5px 0;
  border: 1px solid;
  border-radius: 0;
  outline: 0;
}
#txt{
  color: #4D7BBE;
  font-weight: 500;
  padding-left: 10px;
  display: inline-flex;
}
.bottom_write{
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid;
  box-sizing: border-box;
}
.bottom_write>li:nth-child(1){
  width: 25%;
}
.bottom_write>li:nth-child(2){
  width: 75%;
}
.bottom_write textarea{
  width: 90%;
  height: 300px;
  resize: none;
  border-radius: 0;
}
.th{
  font-weight: 600;
}
/* sec_notice end */

/* 버튼 */
.write_btn_wrap{
  max-width: 846px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  padding-top: 10px;
}
.btn_save{
  margin-right: 10px;
  background-color: #fff;
  color: #4D7BBE;
  border: 1px solid #4D7BBE;
  box-sizing: border-box;
  padding: 5px 10px;
}
.btn_save:hover{
  transition: all 0.3s;
  background-color: #4D7BBE;
  color: #fff;
}
.btn_cancel{
  margin-right: 30px;
  background-color: #fff;
  color: #4D7BBE;
  border: 1px solid #4D7BBE;
  box-sizing: border-box;
  padding: 5px 10px;
}
.btn_cancel:hover{
  transition: all 0.3s;
  background-color: #4D7BBE;
  color: #fff;
}