.thum_list{
  padding-top: 95px;
}
.thum_list>ul{
  display: flex;
  justify-content: center;
}
/* 작성버튼 */
.btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.write_btn{
  background: #4D7BBE;
  color: #fff;
  float: right;
  padding: 5px 10px;
  box-sizing: border-box;
}
.write_btn:hover{
  background: #fff;
  border-color: #4D7BBE;
  color: #333333;
}
/* thum list */
.photo_wrap{
  padding-top: 20px;
}
.photo_wrap >.ph_wr_ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo_wrap >.ph_wr_ul>.ph_wr_li{
  flex: 1;
  /* width: 290px; */
  padding: 10px 50px;
  box-sizing: border-box;
  /* border: 1px solid #4D7BBE; */
  margin-bottom: 20px;
}
.ph_wr_li>ul>li>img{
  width: 200px; height: 180px;
  border: 1px solid #999;

} 
.photo_date{
  padding-top: 5px;
  font-size: 12px;
  color: #888;
}
.photo_title{
  padding-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #4D7BBE;
}
.photo_sub_tit{
  color: #888;
}

/* 검색 */
.search_form{
  padding-top: 50px;
}
.search-wrap {
  position: relative;
  /* padding-right: 124px; */
  margin: 0 auto;
  width: 80%; height: 30px;
  max-width: 564px;
  /* vertical-align: middle; */
}
.search-wrap input {
  height: 30px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #4D7BBE;
}
.search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
.search-wrap .search_btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 30px;
  padding: 0 30px;
  /* border: 1px solid #333; */
  background: #4D7BBE;
  color: #fff;
  float: right;
  box-sizing: border-box;
}
.search-wrap .search_btn:hover {
  background: #fff;
  border-color: #4D7BBE;
  color: #333333;
}